{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% if details %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">created</th>
            <th scope="col">deactivate</th>
            <th scope="col">plan</th>
            <th scope="col">price</th>
            <th scope="col">payout</th>
            <th scope="col">withdrawal <br> status</th>
        </tr>
    </thead>
    {% for detail in details %}
        <tbody>
            <tr>
                <td scope="">{{detail.subcribed}}</td>
                <td scope="">{{detail.deactivate}}</td>
                <td scope="">{{detail.subcription}}</td>
                <td scope="">{{detail.price}}</td>
                <td scope="">{{detail.payout}}</td>
                {% if detail.status %}
                <td scope="" class="withdrawgreen">Approved</td>
                {% else %}
                <td scope="" class="withdrawred">Pending</td>
                {% endif %}
            </tr>
        </tbody>
    {% endfor %}
</table>
{% else %}
<center><h4> No transaction yet.</h4></center>
{% endif %}
{% endblock %}