{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="contact-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2>Password Reset</h2>
                <h5>
                   Enter a new desired password
                </h5>
                <br>
                {% if form.errors %}
                    <p class="login"> Both password don't match. it may be case sentitive</p>
                {% endif %}
                <form class="contact-form" method="POST">
                    {% csrf_token %}
                    {{form.new_password1.label_tag}}
                    {{form.new_password1}}
                    {{form.new_password2.label_tag}}
                    {{form.new_password2}}
                    <button class="site-btn sb-gradients mt-4">Reset Password</button>
                </form>
                <br>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <div class="map" id="map-canvas"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}