{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="contact-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2>Password Reset</h2>
                <h5>
                    Forgotten your password ? Enter your email address below,
                    and we’ll email instructions for setting a new one.
                </h5>
                <br>
                <form class="contact-form" method="POST">
                    {% csrf_token %}
                    {{form.email.label_tag}}
                    {{form.email}}
                    <button class="site-btn sb-gradients mt-4">Reset Password</button>
                </form>
                <br>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <div class="map" id="map-canvas"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}